<div class="loader-center" style="display: flex; justify-content: center; align-items: center">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>
<div *ngIf="!loading">
  <mat-card>
    <mat-card-header >
      <div mat-card-avatar>
        <i mat-list-icon class="{{ question.icon }} icon" ></i>
      </div>
      <mat-card-title>
        <h2>{{ question.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>Dog Breed - {{ question.createdAt | amLocale:'es' | amTimeAgo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
       {{ question.description }}
      </p>
    </mat-card-content>
  </mat-card>
  <div class="answers" *ngIf="question">
    <h3>Respuestas</h3>
    <ul class="answers-list" *ngIf="question.answers.length > 0">
      <li *ngFor="let answer of question.answers">
        <h5>
          {{ answer.user.fullName() }}
          <small>{{ answer.createdAt | amLocale:'es' | amTimeAgo }}</small>
        </h5>
        <p class="description">
          {{ answer.description }}
        </p>
      </li>
    </ul>
    <p *ngIf="question.answers.length === 0">Se el primero en responder esta pregunta</p>
    <app-answer-form [question]="question" class="answer-form"></app-answer-form>
  </div>
</div>
