<div class="loader-center" style="display: flex; justify-content: center; align-items: center">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
<div *ngIf="!loading">
  <mat-list>
    <mat-list-item *ngFor="let question of questions" [routerLink]="['questions', question._id]">
      <i *ngIf="question.icon === 'none'" mat-list-icon class="material-icons help">help</i>
      <i *ngIf="question.icon !== 'none'" mat-list-icon class="{{ question.icon }}"></i>
      <h3 mat-line>{{question.title}}</h3>
      <p mat-line>
          <small>{{ question.answer.length }} respuestas - {{ question.createdAt | amLocale:'es' | amTimeAgo }}</small>
      </p>
    </mat-list-item>
  </mat-list>
  <button mat-fab color="accent" class="add-question" [routerLink]="['questions/new']">+</button>
</div>